#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.square{
  background:rgb(1, 1, 34);
  border: 5px solid rgb(243, 236, 236);
  margin:10px;
  border-radius: 10px;;
  font-size: 100px;
  text-align: center;
  color:antiquewhite;
  width: 100px;
  height: 100px;
  font-weight: bold;
  margin-top: -4px;
  margin-right: -4px;
  line-height: 100px;
  float: left;
  padding: 0;

}

.status{
  margin-bottom: 10px;
}

.board-row:after{
  clear: both;
  content: '';
  display: table;
}
.heading{
  font-size: 60px;
  color:whitesmoke;
}
.heading2{
  font-size: 30px;
  color:whitesmoke;
}
.button{
  border: 3px solid white;
  color:black;
  font-size:30px;
}
.heading3{
  font-size: 15px;
  color:black;
  
}
ol {
  list-style-type: none; 
  padding-left: 0; 
  margin-left: 0; 
}
